body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(119, 89, 118);
}

h1 {
    text-align: center;

}

p {
    background-color: lightgreen;
}

img {
    border: 4px green solid;
}


pre {
    background-color: lightgreen;
}

